beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
-e git+https://github.com/gordonchis1/footbase.git@7947a51c99ba252db44451c1a22b6648247a8c35#egg=FootBase
idna==3.13
inquirerpy==0.3.4
markdown-it-py==4.0.0
mdurl==0.1.2
pfzy==0.3.4
pillow==12.2.0
prompt_toolkit==3.0.52
Pygments==2.20.0
readchar==4.2.2
requests==2.33.1
rich==15.0.0
rich-pixels==3.0.1
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
